---
permalink: /robots.txt
layout: false
---
User-agent: *
Allow: /
Disallow: /ff_nyf_demo/
Disallow: /QuoteHound1_demo/
Disallow: /savewise_demo/
Disallow: /mypmicover_demo/

Sitemap: {{ site.url }}sitemap.xml
